main
  width: 100%

  display: flex
  align-items: center
  flex-direction: column

  .container
    width: 100%
    max-width: 110rem

    padding: 0

    height: 100%

    background-color: blue

    .presentation
      padding: 6.4rem

      h1
        font-size: 2.6rem
        font-weight: 500

        text-align: center

    .layout
      display: grid
      grid-template-columns: 1fr 37rem
      gap: 2rem

      article,
      div
        height: 10vh
        background-color: purple

      .filterYourSearch

    @media screen and (max-width: 1080px)   
      .presentation
        padding: 3.2rem 2rem

        h1
          font-size: 2.4rem

          text-align: left
          
      .layout
        padding: 0 2rem
        grid-template-columns: 1fr

        .filterYourSearch
          display: none
      