@use '../../styles/variables'
@use '../../styles/mixins'

.filterYourSearch
  padding: 2rem
  height: 40vh

  display: flex
  gap: 1rem

  background-color: variables.$white

  h3
    font-size: 1.8rem

  a
    font-size: 1.4rem
    color: variables.$teal400